*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color1{
    color: #21295C;
}
.color2{
    color: #1B3B6F;
}
.color3{
    color: #065A82;
}
.color4{
    color: #1C7293;
}
.color5{
    color: #9EB3C2;
}

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#1C7293;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#065A82;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

body {
    width: 100%;
    display: block;
    margin: auto;
    min-height: 100vh;
    font-family: sans-serif;
    background: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    background: transparent
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color: black;
    opacity: 0.5;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0px 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 15px solid;
}

.link a:hover {
    background-color: #1C7293;
}

.link a:hover, .link.active a{
    opacity: 1;
}

.home-section{
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    transition: 1s;
}

#writing{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 95px;
    font-weight: 300;
    color: black;
    max-width: 70%;
}

.home-heading{
    display: grid;
    justify-items: center;
    align-content: center;
    margin-bottom: 100px;
}

.home-img{
    margin: 50px;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
}

.tamanio-img{
    width: 450px;
    height: 650px;
    border-radius: 10%;
}

.skill-section{
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    position: relative;
    transition: 1s;
    top: 0;
}

.skill-heading{
    color: #1B3B6F;
    font-size: 58px;
    text-align: center;
    margin-bottom: 40px;
}

.skill-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
}

.aboutme-heading{
    color: #1B3B6F;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.aboutme-section{
    width: 100%;
    min-height: 50vh;
    padding: 50px;
    position: relative;
    transition: 1s;
    top: 0;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.aboutme-img-container{
    position: relative;
}

.aboutme-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.aboutme-info{
    font-size: 20px;
    line-height: 40px;
}

.contact-heading{
    color: #1B3B6F;
    font-size: 60px;
    text-align: center;
    margin: 0 0 0 10px;
}

.contact-section{
    position: relative;
    padding: 100px 150px;
    min-height: 50vh;
    height: 100vh;
    top: 0;
    transition: 1s;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgba(80, 80, 80, 0.2);
}

#msg{
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn{
    background:  #21295C;
    color: #fff;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}


.link2{
    line-height: 80px;
}

.link2 a:hover {
    background-color: #1C7293;
}

.aboutme-container{
    max-height: 40%;
}

.color-tittle{
    color: #1C7293;
}

.div-section{
    margin-top: 30px;

}